urxvt.depth: 32
urxvt.background: rgba:0000/0000/0200/c800
urxvt.transparent: true
urxvt.shading: 30
urxvt.foreground: white
urxvt.scrollBar: false
urxvt.font: xft:mono:size=10
urxvt.clipboard.autocopy: true
